/**
 * @name discord adblocker
 * @author detachhead
 * @description Hide all ads in discord (eg. quests and promoted activities)
 * @source https://github.com/DetachHead/ublock-filters/blob/master/discord.css
 */

/* various quests (i don't remember where each of these are) */
div[class^='questsContainer'] {display: none}
div[class^=wrapper_]:has([class^=questPromoContent_]) {display: none}
div:has(>div[class^='rewardTileWrapper_']) {display: none}

/* quests tab on the discover page */
nav>div:has(>div>svg>path[d^='M7.5 21']) {display: none}

/* "quests have moved" notice in gift inventory */
div[class*="-container"][style*="discovery/quests-wumpus-hikes-mountain"] {display: none}

/* promoted games in messages activities menu */
section[aria-label="Application Launcher"] div:has(>div[class*="-sectionTwoColumnContentContainer"]) {display: none}

/* promoted games in call activities menu */
div[aria-label="Activities"] div[aria-label]:has(div[class*="promotedLabelWrapperBanner_"]) {display: none}

/* promoted games on the discover page */
/* this assumes it's always the first section because unfortunately we can't match text content using plain css selectors */
div:has(>h2[data-text-variant='heading-lg/semibold']):has(div[class$='-appDetails']):nth-child(1) {display: none}

/* quest badges on profiles. we just block the navigation to the quests page instead of hiding the whole badge because it's a mark of shame so we still want to be able to see it */
div[aria-label='Completed a Quest'] {cursor: not-allowed}
div[aria-label='Completed a Quest']>a {pointer-events: none}
div[aria-label='Collected the Orb Profile Badge'] {cursor: not-allowed}
div[aria-label='Collected the Orb Profile Badge']>a {pointer-events: none}

/* quest that appears on members list when playing a game */
div[id^='popout_']:has(img[src^='https://cdn.discordapp.com/quests/']) {display: none}
svg[class$='-questsIcon'] {display: none}

/* quests on active now sidebar */
div[class^='nowPlayingColumn__'] div[class^='wrapper_']:has(div[class*=' promotedTag_']) {display:none}

/* orbs in the shop (can only be acquired with quests which are blocked) */
div[class$='-shop'] div[class$='-tabs']>div:has(h1):nth-child(3) {display: none}
#balance-widget-pill {display: none}
div[class*="-blockContainer"]:has(h2~button) {display: none}

/* quests on home page (above DMs) */
nav[class$='-privateChannels'] li:has(a[href='/quest-home']) {display: none}

/* 
popup about how quests have moved or some shit. probably not a reliable selector since this svg id is likely generated
but it probably won't exist for long anyway
*/
div[class^=clickTrapContainer__]:has(img[src$='content/1ffd8203232095caf2e602b4a9f85669cc625f56a09decde670c0e9cd72b754f.svg']) {display: none}